# Qt build artifacts
*.o
*.obj
*.exe
*.user
*.pro.user
*.qmake.stash
*.qmake.super
Makefile*
moc_*
ui_*
qrc_*

# Build directories
build-*/
debug/
release/

# Editor/OS-specific
*~
.DS_Store
*.swp

# Qt Creator specific
*.autosave

